body {
  margin: 0px;
  font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

.navbar-container {
  box-shadow: 0px 4px 5px 0px rgba(141, 141, 141, 0.71);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(141, 141, 141, 0.71);
  -moz-box-shadow: 0px 4px 5px 0px rgba(141, 141, 141, 0.71);
}

.navbar {
  max-width: 1560px;
  padding: 20px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navbar-left svg {
  width: 50px;
  margin-right: 20px;
}

.navbar-left div {
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-left div:hover,
.find-a-store:hover {
  color: #00754a;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left > *,
.navbar-right > * {
  margin: 10px;
}

.find-a-store {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.sign-in,
.join-now {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
}

/* PRODUCT */

.product-container {
  padding: 30px;
}

.product-reward {
  width: 1500px;
}

.product-reward img {
  width: 700px;
  margin: 0 850px;
}

.product-description {
  display: flex;
  flex-wrap: nowrap;
}
